In [1]:
import pandas as pd

In [2]:
data_가입자_퇴직자 = pd.read_excel("./data/가입자 및 퇴직자.xlsx",encoding = 'euc-kr')

In [3]:
data_가입자_퇴직자=data_가입자_퇴직자.set_index('가입자/퇴직자')

In [4]:
data_가입자_퇴직자

         유치원_교직원  초등학교_교직원  중학교_교직원  고등학교_교직원  전문대_교직원  대학교_교직원  특수학교_교직원
가입자/퇴직자
가입자        38776      1928    15895     44290    13225   199888      3563
퇴직자        12611        86      977      2731     1329    16700       193

In [5]:
data_mean=data_가입자_퇴직자.loc['퇴직자']/(data_가입자_퇴직자.loc['가입자'])

In [6]:
data_mean

유치원_교직원     0.325227
초등학교_교직원    0.044606
중학교_교직원     0.061466
고등학교_교직원    0.061662
전문대_교직원     0.100491
대학교_교직원     0.083547
특수학교_교직원    0.054168
dtype: float64