In [1]:
import pandas as pd
data_재직기간별_퇴직 = pd.read_csv("./data/사립학교교직원연금공단_재직기간별 학교급별 교원 퇴직 현황_20200916.csv",encoding = 'euc-kr')

In [2]:
data_재직기간별_퇴직

       연도           재직기간  유치원 및 초등학교  중학교  고등학교  전문대학  대학(교)  특수학교
0    2007          5년 미만        3591   22    96  1515   5761     0
1    2007   5년 이상~10년 미만         845   27    92   232    533     0
2    2007  10년 이상~15년 미만          73   43   115    52    127     0
3    2007  15년 이상~20년 미만          21   70   142    13     63     0
4    2007  20년 이상~25년 미만          30   75   167    27    105     0
5    2007  25년 이상~30년 미만          14   99   176    37    151     0
6    2007  30년 이상~33년 미만           6   80   148    32    105     0
7    2007         33년 이상          21  348   704    83    204     0
8    2008          5년 미만        3958   17   102  1589   6246     0
9    2008   5년 이상~10년 미만        1006   28    91   180    563     0
10   2008  10년 이상~15년 미만          67   34    76    61    182     0
11   2008  15년 이상~20년 미만          24   37    94    25     69     0
12   2008  20년 이상~25년 미만          20   66   170    22     80     0
13   2008  25년 이상~30년 미만          13  122   285    40    143     0
14   2008  30년 이상~33년 미만          13  138   238    32    102     0
15   2008         33년 이상          26  394   721    81    233     0
16   2009          5년 미만        4043   17    87  1578   6799     0
17   2009   5년 이상~10년 미만        1025   41    63   172    602     0
18   2009  10년 이상~15년 미만          76   39    59    52    154     0
19   2009  15년 이상~20년 미만          25   28    73    21     87     0
20   2009  20년 이상~25년 미만          30   39   153    27     82     0
21   2009  25년 이상~30년 미만          12   69   160    27    140     0
22   2009  30년 이상~33년 미만          12   72   166    26    114     0
23   2009         33년 이상          28  278   587    84    215     0
24   2010          5년 미만        4235   15   101  2035   7280     0
25   2010   5년 이상~10년 미만        1161   27    68   176    545     0
26   2010  10년 이상~15년 미만         103   22    68    42    176     0
27   2010  15년 이상~20년 미만          24   28    70    36     55     0
28   2010  20년 이상~25년 미만          33   61   154    37    126     0
29   2010  25년 이상~30년 미만          20   78   165    34    206     0
..    ...            ...         ...  ...   ...   ...    ...   ...
74   2016  10년 이상~15년 미만         165   17    40    41    141     0
75   2016  15년 이상~20년 미만          26    7    36    40     94     0
76   2016  20년 이상~25년 미만          27   21    82    85    149     0
77   2016  25년 이상~30년 미만          19   84   271    52    188     0
78   2016  30년 이상~33년 미만          16  123   379    34    136     0
79   2016         33년 이상          49  367   919   118    416     0
80   2017          5년 미만        7335   13    61   255   1039     8
81   2017   5년 이상~10년 미만        2193   11    42   141    470     5
82   2017  10년 이상~15년 미만         323   16    61    64    178     8
83   2017  15년 이상~20년 미만          71   19    42    27    143     5
84   2017  20년 이상~25년 미만          34   24    69   106    202     5
85   2017  25년 이상~30년 미만          15   99   226    84    234     7
86   2017  30년 이상~33년 미만           7  138   359    41    219    12
87   2017         33년 이상          29  417  1051   111    550    21
88   2018          5년 미만        7568   10    46   233    966     4
89   2018   5년 이상~10년 미만        2484   18    60   128    564    13
90   2018  10년 이상~15년 미만         403   17    62    55    256    15
91   2018  15년 이상~20년 미만          90   23    43    57    201     8
92   2018  20년 이상~25년 미만          41   26    96   120    311     8
93   2018  25년 이상~30년 미만          16   68   221   121    389    11
94   2018  30년 이상~33년 미만           6  163   437    56    278    13
95   2018         33년 이상          29  485  1304   141    687    29
96   2019          5년 미만        7799    9    39   243    848    10
97   2019   5년 이상~10년 미만        2839   16    54   125    460    16
98   2019  10년 이상~15년 미만         519   15    65    69    194    12
99   2019  15년 이상~20년 미만         157   17    57    55    158     7
100  2019  20년 이상~25년 미만          52   30    97    97    215    11
101  2019  25년 이상~30년 미만          17   72   167   136    356    17
102  2019  30년 이상~33년 미만          11  193   474    53    288    24
103  2019         33년 이상          20  544  1547   167    646    37

[104 rows x 8 columns]

In [3]:
df=data_재직기간별_퇴직

In [4]:
for a in range(0,104):
    if df["재직기간"][a]=="5년 미만":
        df['재직기간'][a]=df['재직기간'][a].replace("5년 미만",'00년 이상~05년 미만')
    elif df["재직기간"][a]=="5년 이상~10년 미만":
        df['재직기간'][a]=df['재직기간'][a].replace("5년 이상~10년 미만",'05년 이상~10년 미만')
    else:
        continue

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [5]:
df.head()

     연도           재직기간  유치원 및 초등학교  중학교  고등학교  전문대학  대학(교)  특수학교
0  2007  00년 이상~05년 미만        3591   22    96  1515   5761     0
1  2007  05년 이상~10년 미만         845   27    92   232    533     0
2  2007  10년 이상~15년 미만          73   43   115    52    127     0
3  2007  15년 이상~20년 미만          21   70   142    13     63     0
4  2007  20년 이상~25년 미만          30   75   167    27    105     0

In [6]:
df_sorted_by_values = df.sort_values(by=['재직기간', '연도'] ,ascending=True)

In [7]:
df_sorted_by_values.head()

      연도           재직기간  유치원 및 초등학교  중학교  고등학교  전문대학  대학(교)  특수학교
0   2007  00년 이상~05년 미만        3591   22    96  1515   5761     0
8   2008  00년 이상~05년 미만        3958   17   102  1589   6246     0
16  2009  00년 이상~05년 미만        4043   17    87  1578   6799     0
24  2010  00년 이상~05년 미만        4235   15   101  2035   7280     0
32  2011  00년 이상~05년 미만        3988   17    90  1911   7111     0

In [8]:
df_sorted_by_values = df_sorted_by_values.reset_index(drop=True)

In [9]:
df_sorted_by_values

       연도           재직기간  유치원 및 초등학교  중학교  고등학교  전문대학  대학(교)  특수학교
0    2007  00년 이상~05년 미만        3591   22    96  1515   5761     0
1    2008  00년 이상~05년 미만        3958   17   102  1589   6246     0
2    2009  00년 이상~05년 미만        4043   17    87  1578   6799     0
3    2010  00년 이상~05년 미만        4235   15   101  2035   7280     0
4    2011  00년 이상~05년 미만        3988   17    90  1911   7111     0
5    2012  00년 이상~05년 미만        3978   10    97   745   2745     0
6    2013  00년 이상~05년 미만        4408   12    83   416   1287     0
7    2014  00년 이상~05년 미만        4423   13    78   297   1305     0
8    2015  00년 이상~05년 미만        4777   14    61   255   1145     0
9    2016  00년 이상~05년 미만        5888    9    74   311   1102     0
10   2017  00년 이상~05년 미만        7335   13    61   255   1039     8
11   2018  00년 이상~05년 미만        7568   10    46   233    966     4
12   2019  00년 이상~05년 미만        7799    9    39   243    848    10
13   2007  05년 이상~10년 미만         845   27    92   232    533     0
14   2008  05년 이상~10년 미만        1006   28    91   180    563     0
15   2009  05년 이상~10년 미만        1025   41    63   172    602     0
16   2010  05년 이상~10년 미만        1161   27    68   176    545     0
17   2011  05년 이상~10년 미만        1078   26    97   134    508     0
18   2012  05년 이상~10년 미만        1084   20    83   102    318     0
19   2013  05년 이상~10년 미만        1196   24    91    84    323     0
20   2014  05년 이상~10년 미만        1265   18    71   103    308     0
21   2015  05년 이상~10년 미만        1411    8    51    96    328     0
22   2016  05년 이상~10년 미만        1565   10    64    87    366     0
23   2017  05년 이상~10년 미만        2193   11    42   141    470     5
24   2018  05년 이상~10년 미만        2484   18    60   128    564    13
25   2019  05년 이상~10년 미만        2839   16    54   125    460    16
26   2007  10년 이상~15년 미만          73   43   115    52    127     0
27   2008  10년 이상~15년 미만          67   34    76    61    182     0
28   2009  10년 이상~15년 미만          76   39    59    52    154     0
29   2010  10년 이상~15년 미만         103   22    68    42    176     0
..    ...            ...         ...  ...   ...   ...    ...   ...
74   2016  25년 이상~30년 미만          19   84   271    52    188     0
75   2017  25년 이상~30년 미만          15   99   226    84    234     7
76   2018  25년 이상~30년 미만          16   68   221   121    389    11
77   2019  25년 이상~30년 미만          17   72   167   136    356    17
78   2007  30년 이상~33년 미만           6   80   148    32    105     0
79   2008  30년 이상~33년 미만          13  138   238    32    102     0
80   2009  30년 이상~33년 미만          12   72   166    26    114     0
81   2010  30년 이상~33년 미만           6   84   168    44    241     0
82   2011  30년 이상~33년 미만          15   93   242    28    148     0
83   2012  30년 이상~33년 미만          10  118   214    39    174     0
84   2013  30년 이상~33년 미만          12  108   233    16    177     0
85   2014  30년 이상~33년 미만          10   60   143    33    187     0
86   2015  30년 이상~33년 미만          20  140   302    46    157     0
87   2016  30년 이상~33년 미만          16  123   379    34    136     0
88   2017  30년 이상~33년 미만           7  138   359    41    219    12
89   2018  30년 이상~33년 미만           6  163   437    56    278    13
90   2019  30년 이상~33년 미만          11  193   474    53    288    24
91   2007         33년 이상          21  348   704    83    204     0
92   2008         33년 이상          26  394   721    81    233     0
93   2009         33년 이상          28  278   587    84    215     0
94   2010         33년 이상          23  285   570   131    306     0
95   2011         33년 이상          31  290   642   119    308     0
96   2012         33년 이상          38  341   720   128    363     0
97   2013         33년 이상          35  395   789   113    443     0
98   2014         33년 이상          44  476  1129   141    439     0
99   2015         33년 이상          68  747  1665   168    488     0
100  2016         33년 이상          49  367   919   118    416     0
101  2017         33년 이상          29  417  1051   111    550    21
102  2018         33년 이상          29  485  1304   141    687    29
103  2019         33년 이상          20  544  1547   167    646    37

[104 rows x 8 columns]

In [10]:
del df_sorted_by_values['연도']

In [11]:
df_sorted_by_values.head()

            재직기간  유치원 및 초등학교  중학교  고등학교  전문대학  대학(교)  특수학교
0  00년 이상~05년 미만        3591   22    96  1515   5761     0
1  00년 이상~05년 미만        3958   17   102  1589   6246     0
2  00년 이상~05년 미만        4043   17    87  1578   6799     0
3  00년 이상~05년 미만        4235   15   101  2035   7280     0
4  00년 이상~05년 미만        3988   17    90  1911   7111     0

In [12]:
df_sorted_by_values.groupby("재직기간").sum().sum(axis=0)

유치원 및 초등학교    89318
중학교            9563
고등학교          23503
전문대학          17950
대학(교)         65042
특수학교            306
dtype: int64

In [13]:
df_sorted_by_values["유치원 및 초등학교"]=df_sorted_by_values["유치원 및 초등학교"]/89318
df_sorted_by_values["중학교"]=df_sorted_by_values["중학교"]/9563
df_sorted_by_values["고등학교"]=df_sorted_by_values["고등학교"]/23503
df_sorted_by_values["전문대학"]=df_sorted_by_values["전문대학"]/17950
df_sorted_by_values["대학(교)"]=df_sorted_by_values["대학(교)"]/65042
df_sorted_by_values["특수학교"]=df_sorted_by_values["특수학교"]/306

In [14]:
df_sorted_by_values.groupby("재직기간").sum()

               유치원 및 초등학교       중학교      고등학교      전문대학     대학(교)      특수학교
재직기간
00년 이상~05년 미만    0.738832  0.018613  0.043186  0.634150  0.670859  0.071895
05년 이상~10년 미만    0.214425  0.028652  0.039442  0.098050  0.090526  0.111111
10년 이상~15년 미만    0.026881  0.031789  0.034506  0.037493  0.031672  0.114379
15년 이상~20년 미만    0.006303  0.033671  0.033187  0.026128  0.019680  0.065359
20년 이상~25년 미만    0.004378  0.054272  0.063609  0.046852  0.029320  0.078431
25년 이상~30년 미만    0.002631  0.113876  0.111645  0.042284  0.040728  0.114379
30년 이상~33년 미만    0.001612  0.157900  0.149045  0.026741  0.035762  0.160131
33년 이상           0.004937  0.561226  0.525380  0.088301  0.081455  0.284314